@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-orange: #FFBD4A;
  --sec-blue: #51829B;
  --sec-green: #2C7865;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.react-datepicker{
  border: none !important;
  width: 100% !important
}

.react-datepicker__day{
  font-size: large;
}

.react-datepicker__week{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* Datepicker Custom Styling */
.custom-datepicker .react-datepicker {
  border: none !important;
  box-shadow: none;
}

.custom-datepicker .react-datepicker__day--selected {
  background-color: #ff7a59; /* main-orange color */
  color: white;
  border-radius: 50%;
}

.custom-datepicker .react-datepicker__day:hover {
  background-color: #ff956e; /* hover effect */
  border-radius: 50%;
}

.custom-datepicker .react-datepicker__header {
  background-color: #fff;
  border-bottom: none;
}

.custom-datepicker .react-datepicker__current-month {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2d3748; /* sec-blue */
}

.custom-datepicker .react-datepicker__day-name {
  color: #4a5568;
  font-weight: bold;
}

.custom-datepicker .react-datepicker__day--today {
  border: 1px solid #ff7a59; /* Highlight today's date */
  border-radius: 50%;
}

.custom-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #ff7a59; /* Highlight selected day */
  color: white;
}


/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px;       /* Roundness of the thumb */
  border: 3px solid #f1f1f1; /* Padding around thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}
